In [ ]:
import pandas as pd

input_file = "DATAS/bloomberg_all_tickers.csv"

df = pd.read_csv(input_file, nrows=200000, header=None)

print(f"Nombre de lignes chargées: {len(df)}")
print(f"Nombre de colonnes: {len(df.columns)}")
df.head()

Nombre de lignes chargées: 200000
Nombre de colonnes: 3

                               0              1       2
0                           date         ticker   price
1  1970-01-01 00:00:00.000040039  USGG12M Index  0.4118
2  1970-01-01 00:00:00.000040040  USGG12M Index  0.4118
3  1970-01-01 00:00:00.000040041  USGG12M Index  0.4118
4  1970-01-01 00:00:00.000040042  USGG12M Index  0.4067

In [ ]:
output_file = "DATAS/bloomberg_all_tickers_truncated.csv"

df.to_csv(output_file, index=False, header=False)
print(f"Fichier sauvegardé: {output_file}")

Fichier sauvegardé: bloomberg_all_tickers_truncated.csv